*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}
.h1
{
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 290px;
    font-family: cursive;
    
}


.h1a
{
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;

    font-family: "Roboto", sans-serif;
    
}
.h1b
{
    color:#153B1A;
    
    font-size: 30px;
    text-align: center;
    margin-top: 0px;

    font-family: "Roboto", sans-serif;
    
}
.h1c
{
    color:#153B1A;
    
    font-size: 30px;
    text-align: left;
    margin-top: 0px;

    font-family: "Roboto", sans-serif;
    
}
    
h4
{
    color: #F5F5F5;
    margin-top: 310px;
    font-size: 20px;
    text-align: center;
    
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8 )),url(images/Project.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 500px;
    margin-left: 305px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-one
{
    font-family: "Roboto", sans-serif;
}


.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
}
#profile{
        
    margin-top:0;
    margin-bottom:0;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/J.jpg);
    min-height: 3300px; 
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: cursive;


}
.centeralign {
  text-align: left;
  padding-top: 180px;
  padding-left:10%;
  padding-right:10%;
  font-size: 15px;
}
.centeralign2 {
  text-align: left;
  padding-top: 0px;
  padding-left:0px;
  font-size: 15px;

}
.headline{

    padding-left: 0%;
}
#school{
    margin-top:0;
    margin-bottom:0;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/J.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
     min-height: 2200px; 
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: cursive;


}
audio {
  float: center;
  margin-top:0;
}



}
.img{float:right;}






