*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


.h1
{
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
    font-family: cursive;
    
}

    
h4
{
    color: #F5F5F5;
    margin-top: 310px;
    font-size: 20px;
    text-align: center;
    
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/i4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
    margin-left: 505px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one
{
    font-family: "Roboto", sans-serif;
}


.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
}
#profile{
    margin-top:10;
    margin-bottom:10;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/i5.jpg);
    height: 100vh;

    background-size: cover;
    background-position: center;
    font-family: cursive;


}
.centeralign {
  text-align: left;
  padding-top: 0px;
  padding-left:18%;
  font-size: 10px;
}
.headline{

    padding-left: 40%
}
.headline2{

    padding-left: 40%
}

#school{
    margin-top:10;
    margin-bottom:10;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/BG5.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: cursive;
}
#bucketlist{
    margin-top:10;
    margin-bottom:10;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/i5.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: cursive;







